




.conta{
    width: 77%;
    margin-left: 10%;
    height: 1000px;
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 10%;
    padding: 20px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 3px 3px 3px 3px rgba(155, 155, 155, 0.301);
}

.titulo{
    text-align: center;
    background-color:#FFD700;
    background-image: linear-gradient(to bottom, white, rgb(252, 252, 252), rgb(224, 224, 224), rgb(224, 224, 224));
    border-radius: 10px 20px;
    width: 80%;
    margin-left: 10%;
    color:rgb(0, 0, 0);
    border: 1px  rgb(224, 224, 224) solid;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.527);
    
}
.titulo-2{
    text-align: center;
    background-color:#FFD700;
    background-image: linear-gradient(to bottom, white, rgb(252, 252, 252), rgb(224, 224, 224), rgb(224, 224, 224));
    border-radius: 10px 20px;
    width: 80%;
    margin-left: 10%;
    color:rgb(0, 0, 0);
    border: 1px  rgb(224, 224, 224) solid;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.527);
    
}
.titulo-empresa{
    width: 100%;
    padding-top: 20px;
    display: inline-flex;
}
.dados-title span{
    font-weight: bold;
}
.dados:not(:first-child){
   padding-left: 50px;
}
.dados{
     margin-top: 40px;
 }
.linha{
    float: left;
    display: inline-flex;
    margin-left: 13%;
}
.empresinha{
    display: flex;
}
.linha-2{
    float: left;
    display: inline-flex;
    margin-left: 13%;
}

.btn-ok{
    margin-top: 20px;
    
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #FFD700;
    cursor: pointer;
}
.btn-ok:hover{
    background-color: white;
    color: #FFD700;
    border: 1px solid #FFD700;
}

.dados-cep{
    margin-top: 40px;
    margin-left: 5px;
}
.dados-uf{
    margin-top: 65px;
    margin-left: 36px;
}
.input-resultado input{
    border: none;
    padding-left: 10px;
    border-radius: 4px 4px;
    border: 1px rgb(122, 122, 122) solid;
    width: 170px;
    height: 22px;
}
.input-resultado-cep input{
    border: none;
    padding-left: 10px;
    border-radius: 4px 4px;
    border: 1px rgb(122, 122, 122) solid;
    width: 120px;
    height: 22px;
}

.link-correios{
    width: 100px;
}
.link-correios{
    float: right;
    color: rgb(134, 134, 134);
    margin-top: 29px;
    margin-left: 37px;

    font-size: 12px;
}
#input-email-footer{
    margin-top: 50px;
    height: 25px;
    width: 62%;
    padding-left: 10px;
    border-radius: 4px 4px;
    border: 2px rgb(255, 255, 255) solid;
}
#input-email-footer:hover{
    border: 2px #ffd700 solid;
}

#btn-email-footer{
    position: absolute;
    margin-left: 69%;
    margin-top: -30px;
    height: 30px;
    border: none;
    border-radius: 4px 4px ;
    padding-left: 20px;
    padding-right: 20px;
    background: #ffd700;
    border: 1px #ffd700 solid;
    color: #ffffff;
}
#btn-email-footer:hover{
    background: rgb(255, 255, 255);
    color: #ffd700;
    transition: 0.4s;
}
.fas{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    color: #232323;
    background-color: #ffffff;
    margin-left: 93%;
    margin-top: -21.8%;
    padding: 13.4px;
    padding-left: 16.5px;
    padding-right: 16.9px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

