
.grafico{
    width: 95%;
  
    background: white;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px gray;
    margin-top: 10px;
 
}
#b_usuario{
    font-size: 10px;
}
.input{
    width: 95%;
    margin: auto;
}

.input-conteudo{
    color: black;
    border-radius: 10px;
    background: white;
    border: 1px solid black;
    width: 170px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    padding-left: 10px;
}
dropdown {
    float: right;
    overflow: hidden;
    color: black;
    
  }
  .title{
      width: 70%;
      margin: auto;
     text-align: center;
     border-bottom: 2px solid black;
  }
  body{
    background-color: 		#f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.5;
}

.container{
    margin: auto;
    width: 80%;
    background: #232323;
    overflow: hidden;
    padding: 10px;
    height: 58px;
}
.header{
    background-color: #232323;
    color: rgb(255, 255, 255);
    border-bottom: #ffd700 2px solid;
    
}

.header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
}
.header li{
    float: left;
    display: inline;

}


.header .title-header {
    float: left;
    margin-left: 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 15px;
}

.nav{
    float: left;
    width: 870px;
    margin-top: 5px;
}
.nav .nav-dash{
    font-weight: bold;
    margin-top: 10px;
    margin-left: 87px;
  
    margin-right: 100px;
}
.nav .nav-dash a{
    color:  #ffd700;
    font-weight: bold;
}
.nav .nav-jogos{
    font-weight: bold;
    margin-top: 10px;
    margin-right: 100px;
}
.nav .nav-favoritos{
    font-weight: bold;
    margin-top: 10px;
   
    
    
    
}
.nav .nav-jogos:hover{
    border-bottom: #ffd700 2px solid;
}
.nav .nav-favoritos:hover{
    border-bottom: #ffd700 2px solid;
}
.nav .nav-dash:hover{
    border-bottom: #ffd700 2px solid;
}

.header   .current a{
    color:  #ffd700;
    font-weight: bold;
    
}
.header .current {
    color:  #ffd700;
    font-weight: bold;
    margin-top: 40px;
    padding-right: 30px;
    padding-left: 80px;
}
.header .icon-ball{
    float: left;
    height: 50px;
    width: 50px;
}
.nav-dropdown{
    margin-left: 17%;
    overflow: hidden;
    float: right;
}
.nav-dropdown .dropbtn{
    width: 156px;
    border: none;
    outline: none;
    background-color:#232323;
}
.nav-dropdown .dropbtn .icon-user{
    width: 35px;
    height: 35px;
    float: left;
}
.nav-dropdown .dropbtn .ola{
    float: right;
    margin-top: 8px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    
}

.nav-dropdown:hover .dropbtn {
    border-radius: 4px  4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 5px rgba(182, 182, 182, 0.151);
    margin-left: 45px;
    z-index: 1;
    border-radius: 4px  4px;
  }
  .dropdown-content a {
    float: none;
    color:  rgb(0, 0, 0);
    padding: 12px 16px;
    padding-right: 50px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
 
  .dropdown-content  .doubt{

    border-bottom: 1px solid #ffd700;
  }
  .dropdown-content a:hover {
    background-color:  #ffd90091;
  }
  .nav-dropdown:hover .dropdown-content {
    display: block;

  }
  .nav-dropdown:hover .ola {
    border-bottom: #ffd700 2px solid;
  }

/* end Header*/
  .title{
      width: 70%;
      margin: auto;
     text-align: center;
     border-bottom: 2px solid black;
  }
  .logo{
    float: left;
    max-width: 50px;
    max-height:50px ;
  
    color:	#FFD700;
}
  .footer {
    height: auto;
    padding-top: 30px;
    background-color: #232323;
    border-top: #ffd700 3px solid;
    color: #f4f4f4;  
    overflow: hidden;
    
}
.container-footer-left{
    float: left;
    width: 39.3%;
    margin-left: 50px;
    margin-bottom: 50px;
}
.container-footer-right{
    float: right;
    width: 50%;
}

.footer_copyright{
    height: 50px;
    width:100%;
    background-color: #232323;
    border-top: #ffd700 1px solid;
    text-align: center;
    color: #f4f4f4;
}
.redes li{
    float: left;
    display: inline;
    padding-left: 10px ;
    padding-right: 10px;
    font-weight: bold;
  
}
.icons li{
    display: inline;
    float: left;
    margin-left: 20px;
}