.title{
    border-bottom: 2px solid black;
    text-align: center;

}
.duvida{
    border-radius: 10px;
    height: 300px;
    width: 500px;
    margin: auto;
    background-color: white;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
    font-size: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.219);
}
.duvida .escre{
    width: 300px;
    height: 30px;
    border: none;
    background-color: gainsboro;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
}
.duvida  .duvidando:focus{
    width: 300px;
    height: 80px;
    border: none;
    background-color: gainsboro;
    margin: auto;
    margin-top: 20px;
    text-align: start;
   
   

}
.duvida button{
    background-color: #ffd700;
    color: white;
    border: none;
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px

}
.duvida button:hover{
    background-color: white;
    color: #ffd700;
    border: 2px solid #ffd700;
    transition: 0.4s;

}
.titulo{
    text-align: center;
    background-color:#FFD700;
    background-image: linear-gradient(to bottom, white, rgb(252, 252, 252), rgb(224, 224, 224), rgb(224, 224, 224));
    border-radius: 10px 20px;
    width: 50%;
    height: 30px;
    margin-left: 25%;
    color:rgb(0, 0, 0);
    border: 1px  rgb(224, 224, 224) solid;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.527);
    
}

.fas{
    cursor: pointer;
    position: absolute;
    color: #ffffff;
    background-color: #ffd700;
    margin-left: 8.8%;
    margin-top: -1%;
    padding: 9px;
    padding-left: 11.5px;
    padding-right: 11.5px;
    border-radius: 50%;
    border: 2px solid #ffd700;
}

.fas:hover{
    transition: 0.4s;
    color: #ffd700;
    background-color: #ffffff;
    border: 2px solid #ffd700;
}