.corpo{
    width: 80%;
    overflow: hidden;
    margin: auto;
}
 .corpo-title{
    text-align: center;
    color: #363636;
    font-size: 50px;
    font-family: arial;
    letter-spacing: 0.2;

    border-bottom: 2px solid #363636;

}
.corpo .corpo-texto{
    margin-top: 10px;
    text-align: center;
    font-size: 14pt;
}
.fotos{
    width: 100%;
    margin: auto;
    padding: 0;
}

.integrantes li{
    float: left;
    display: inline;
}
.imagem-int{
    float: left;
    height: 250px;
    padding: 20px;
}
.imagem-int2{
    float: left;
    height: 250px; 
     
    padding: 20px;
}

.integrantes legend{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 2px;
}