
/*Principal*/
.titulo{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}
.titulo h2{
    font-size: 50px;  
}

.texto {
    text-align: center;
    margin-bottom: 85%;
    font-size: 20px;
}
.datas{
    width: 5%;
    margin: 0 7.5% 0 7.5%;
}
.esquerda{
    width: 40%;
    float: left;
    padding-top: 5%;
}
.direita{
    width: 40%;
    float: right;
    padding-top: 25%;
}
.bot{
    margin-bottom: 0;
}