
.video{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
   
}

.video-youtube{
    background-color: white;
    width: 80%;
    height: 400px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.219);
    padding-right: 20px;
    padding-left: 30px;
    margin-bottom: 30px;
    margin-left: 6%;
    margin-top: 30px;
     

}
.historia{
    background-color: white;
    width: 20%;
    height: 400px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.219);
    padding-right: 20px;
    padding-left: 30px;
    margin-bottom: 30px;
    margin-left: 6%;
    margin-top: 30px;
    font-size: 12pt;
    text-align: center;
    border-radius: 4px 4px 4px 4px;
    margin-top: 80px;
    
}
.missao{
    background-color: white;
    width: 20%;
    height: 400px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.219);
    padding-right: 20px;
    padding-left: 30px;
    margin-bottom: 30px;
    margin-left: 6%;
    margin-top: 30px;
    float: right;
    position: absolute;
    top: 80px;
    left: 400px;
    font-size: 14pt;
    text-align: center;
    border-radius: 4px 4px 4px 4px;
    margin-top: 80px;
}
img#ssw, img#historia{
   
    width: 80px;
}
img#valores{
    position: relative;
    left: 5pc;
    margin: 10pt;
    width: 60px;
}
h1#titulo{
    text-align: center;
}
.valores{
    background-color: white;
    width: 20%;
    height: 400px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.219);
    padding-right: 20px;
    padding-left: 30px;
    margin-bottom: 30px;
    margin-left: 6%;
    margin-top: 30px;
    float: right;
    position: absolute;
    top: 80px;
    left: 800px;
    font-size: 14pt;
    border-radius: 4px 4px 4px 4px;
    margin-top: 80px;
}
.frame{
    width: 600px;
    height: 80%;
    float: left;
    margin-top: 30px;
    margin-right: 40px;

}
.imagem-icone-1 .icone{
    width: 80px;
    height: 80px;
    margin-top: 15px;
}
.imagem-icone-1 .icone:hover{
    background-color: gold;
    border-radius: 10px;
}






