body {
    background-color: #f1f1f1;
}

.t-height{
    height: 78vh;
  }

main {
    overflow: hidden;
    background: rgba(35, 35, 35, 0.6);
    border-radius: 50px;
    text-align: center;
}

header {
    margin-bottom: 50px;
}

main h2 {
    color: black;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 2%;
    margin-top: 2%;
}

main input, select {
    text-align: center;
    text-align-last: center;
    margin-bottom: 20px;
    height: 7%;
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: #c4c4c4;
    color: #565656;
    /* -webkit-appearance: none; */
}

select:hover {
    -webkit-appearance: none;
}

input:focus {
    border: solid #1b1a1a 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

#esquerda {
    margin-left: 0px;
    width: 49.95%;
    height: 95%;
    float: left;
}

main h3 {
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 1%;
    color: #deca5d;
}

button {
    width: 30%;
    height: 7%;
    background-color: #deca5d;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: #deca5d;
    border: solid #deca5d 1px;
}

button:active {
    color: #968838;
    border: #968838;
}

#linha {
    width: 0.1%;
    height: 75%;
    background-color: black;
    float: left;
}

#direita {
    width: 49.95%;
    height: 95%;
    float: left;
}

#direita #esquerda2 {
    margin-top: 5%;
    margin-left: 0px;
    width: 49.85%;
    height: 20%;
    float: left;
}

#direita #linha2 {
    margin-top: 3%;
    margin-bottom: 5%;
    width: 0.3%;
    height: 23%;
    background-color: black;
    float: left;
}

#direita #direita2 {
    margin-top: 5%;
    width: 49.85%;
    height: 20%;
    float: left;
}

#box_economia {
    width: 100%;
}