body#filial{
    background: url(../img/predio2.jpg);
    background-size: 100% 100%;
}
.box h1{
    color: white;
    font: bold;
    letter-spacing: 0.2;
    font-size: 30px;
    font-weight: 300;
    font-family: arial;
    text-transform: uppercase;
}
#l3{
    color: #FFD700;
}

.box{
    width: 25%;
    padding: 10px;
    background-color: #363636;
    text-align: center;
    color: white;
    margin-left: 37.5%;

    border-radius: 24px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.box .input, .select{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:2px solid white;
    padding:10px 10px;
    width:200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    background-color: #363636;
}

.box .input:focus{
    width: 280px;
    border: 2px solid #FFD700;

}
.select:focus{
    width: 310px;
    border: 2px solid #FFD700;

}
.select{
    width: 220px;
}
.btn{
    border:0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border:2px solid white;
    padding:20px;
    width:100px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.btn:hover{
    background-color: #FFD700;
    border: 2px solid #FFD700;
}


.con {
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:2px solid white;
    padding:10px 10px;
    width:200px;
    outline: none;
    color: #FFD700;
    border-radius: 24px;
    transition: 0.25s;
}
.box .con:focus{
    width: 280px;
    border: 2px solid #FFD700;

}


    
