body{
    background-color: 		#f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.5;
}




.conta{
    width: 100%;
    height: 500px;
    background-color: #f4f4f4;
    margin-top: 20px;
    margin-bottom: 300px;
}
.titulo{
    width: 60%;
    height: 600px;
    background-color: #ffffff;
    margin-left: 20%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.267);

}
.titulo h3{
    text-align: center;
    background-color:#FFD700;
    background-image: linear-gradient(to bottom, white, rgb(252, 252, 252), rgb(224, 224, 224), rgb(224, 224, 224));
    border-radius: 10px 20px;
    width: 80%;
    margin-left: 10%;
    color:rgb(0, 0, 0);
    border: 1px  rgb(224, 224, 224) solid;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.527);
    
}
.espaco{
    height: 20px;
}
.dados{
    width: 60%;
    margin-left: 20%;
    
    
}
.dados-nome{
    float: left;
}
.dados-cpf{
    float: left;
    margin-left: 20px;
}
.dados-tel-fixo{
    float: left;
    margin-left: 20px;
}
.dados-tel-cel{
    float: left;
    margin-top: 8px;
}
.dados-cep{
    float: left;
    margin-top: 8px;
}
.input-resultado{
   padding-left: 4px;
   width: 140px;
   height: 20px;
}
.cep-resultado{
    float: left;
    
}
.btn-ok{
    margin-top: 29px;
    margin-left: 4px;
    height: 28px;
    width: 50px;
    border-radius: 5px;
    border: none;
    background-color: #FFD700;
}
.link-correios{
    float: right;
    margin-top: 33px;
    margin-right: 335px;
    font-size: 12px;
}

.dados-endereco{
    float: left;
    
}
.input-resultado-endereco{
    padding-left: 4px;
    width: 410px;
    height: 20px;
 }
 .input-resultado-numero{
    padding-left: 4px;
    width: 40px;
    height: 20px;
    
 }
.dados-numero{
    margin-right:74px;
    float: right;
}
.dados-complemento{
    float: left;
}
.dados-bairro{
    float: left;
    margin-left: 20px;
}
.dados-cidade{
    float: left;
    margin-left: 20px;
}
.input-resultado-menor{
    padding-left: 4px;
    width: 112px;
    height: 20px;
 }
 .input-resultado-cidade{
    padding-left: 4px;
    width: 130px;
    height: 20px;
 }
 .estado{
     float: right;
     margin-top: 40px;
     height: 27px;
 }