
body{
    background-color: 		#f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}


.container-features{
    height: 560px;
    width: 100%;

}
.container-features-content{
    background-color: white;
    width: 83%;
    height: 530px;
    margin-left: 6%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.219);

}
.image-features{
    float: left;
}
.images-features-control{
    height: 400px;
    width: 400px;
    margin-top: 55px;
    margin-left: 10px;
}
.text-features{
float: right;
width: 500px;
color: black;
margin-top: 120px;
margin-right: 80px;
}
.feature-topics{
    float: right;
    height: auto;
    width: 500px;
}

.image-check-container{
margin-top: 30px;
}
.image-check{
    height: 60px;
    width: 60px;
    float: left;
 
}
.feature-automatic{
    margin-right: 290px;
    float: right;
    text-shadow: rgba(128, 128, 128, 0.486) 1px 1px 1px;
}


.title-features{
    text-align: center;
    color: #FFD700;
    text-shadow: rgba(128, 128, 128, 0.486) 1px 1px 1px;
}
.description-features{
    
}
