
body{
    background-color: 		#f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}



.container-features{
    height: 560px;
    width: 100%;

}
.container-features-content-economic{
    background-image: url('../img/economia.png');
    background-size: 1130px 530px;

    background: no-repeats;
    width: 84%;
    height: 530px;
    margin-left: 6%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.219);
}
.container-features-content-graphics{
    background-image: url('../img/graphics.png');
    background-size: 1130px 530px;
 
    background: no-repeats;
    width: 84%;
    height: 530px;
    margin-left: 6%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.219);
}
.container-features-content-control{
    background-image: url('../img/controlar.png') ;
    background-size: 1130px 530px;
 
    background: no-repeats;
    width: 84%;
    height: 530px;
    margin-left: 6%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.219);
}
.image-features{
    float: left;
    width: 40%;
}
.images-features-economic{
    height: 90%;
    width: 90%;
    margin-top: 50px;
}
.images-features-graphics{
    height: 80%;
    width: 80%;
    margin-top: 50px;
    margin-left: 20px;
}
.images-features-control{
    height: 90%;
    width: 90%;
    margin-top: 50px;
}
.text-features{
float: right;
width: 60%;
color: white;
margin-top: 40px;
}
.description-features{
    width: 80%;
    text-align: center;
    font-size: 18px;
}

.feature-topics{
    display: inline-block;

    width: 100%;

}

.image-topics{
    height: 75px;
    width: 75px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    padding: 4px;
    
}

.image-check{
    height: 55px;
    width: 60px; 
}
.feature-topics-title{

    margin-top: 45px;
    margin-left: 30px;
    width: 350px;
    padding-left: 20px;
    margin-left: 20px;
    font-size: 20px;
}



.title-features{
    width: 80%;
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
    text-shadow: rgba(128, 128, 128, 0.486) 1px 1px 1px;
}

.image-check:hover{
    border: 1px solid #FFD700;
   
}
