
body{
    background-color: 		#f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}



.container-features{
    height: 560px;
    width: 100%;

}
.container-features-content{
    background-color: white;
    background-size: 1120px 530px;
 
    background: no-repeats;
    width: 83%;
    height: 530px;
    margin-left: 6%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.219);

}
.image-features{
    float: left;
    width: 40%;
}
.images-features-control{
    height: 90%;
    width: 90%;
    margin-top: 40px;
}
.text-features{
float: right;
width: 60%;
color: black;
margin-top: 40px;
}
.description-features{
    width: 80%;
    text-align: center;
}
.title-features{
    width: 80%;
    text-align: center;
    margin-top: 25px;
}

.feature-topics{
    display: inline-block;

    width: 100%;

}

.image-topics{
    height: 75px;
    width: 75px;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    padding: 4px;
}

.image-check{
    height: 65px;
    width: 65px; 
}
.feature-topics-title{

    margin-top: 57px;
    margin-left: 30px;
    width: 300px;
    padding-left: 20px;
    margin-left: 20px;
}



.title-features{
    text-align: center;
    font-size: 20px;
    text-shadow: rgba(128, 128, 128, 0.486) 1px 1px 1px;
}

.image-check:hover{
    border: 1px solid #FFD700;
   
}
