.container-sobre{
    margin: auto;
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
}
.linha-transferencia{
    margin-top: 80px;
}
.linha-left{
    margin-top: 35px;
    float: left;
}
.title-tranferencia{
    float: left;
    color: rgb(126, 126, 126);
    margin-left: 30px;
    
}
.linha-right{
    float: right;
    margin-top: 35px;
}
.change-3{
    float: left;
    margin-bottom: 30px;
    background-color: rgb(34, 39, 33);
    width: 30%;
    height: 350px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 3px rgba(155, 155, 155, 0.301);
}
.change-3 .change-top-3 {
    background-image: url("../img/rhian.jpeg");
    background-size: 100%;
    height: 90%;
    border-radius: 4px 4px 0px 0px;
}
.change-bottom:hover  {
    background-color: rgb(0, 0, 0);
    transition: 1s;
}
.change-top-3:hover {
    background-size: 120%;
    transition: 0.8s;
}
.change-3 .change-bottom  {
    background-color: rgb(34, 39, 33);
    padding-top: 1px;
    color: white;
    text-align: center;
    font-size: 20px;
    height: 10%;
    border-radius: 0px 0px 4px 4px;
    padding-left: 15px;
    padding-right: 5px;
}

.change-4{
    float: left;
    margin-bottom: 30px;
    background-color: rgb(34, 39, 33);
    width: 30%;
    height: 350px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 3px rgba(155, 155, 155, 0.301);
    margin-left: 5%;
}
.change-4 .change-top-4 {
    background-image: url("../img/rhian.jpeg");
    background-size: 100%;
    height: 90%;
    border-radius: 4px 4px 0px 0px;
}
.change-bottom:hover  {
    background-color: rgb(0, 0, 0);
    transition: 1s;
}
.change-top-4:hover {
    background-size: 120%;
    transition: 0.8s;
}
.change-4 .change-bottom  {
    background-color: rgb(34, 39, 33);
    padding-top: 1px;
    color: white;
    height: 10%;
    border-radius: 0px 0px 4px 4px;
    padding-left: 15px;
    padding-right: 5px;
    text-align: center;
    font-size: 20px;
}

.change-5{
    float: right;
    margin-bottom: 30px;
    background-color: rgb(34, 39, 33);
    width: 30%;
    height: 350px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 3px rgba(155, 155, 155, 0.301);
}
.change-5 .change-top-5 {
    background-image: url("../img/rhian.jpeg");
    background-size: 100%;
    height: 90%;
    border-radius: 4px 4px 0px 0px;
}

.change-top-5:hover {
    background-size: 120%;
    transition: 0.8s;
}
.change-5 .change-bottom  {
    background-color: rgb(34, 39, 33);
    padding-top: 1px;
    color: white;
    height: 10%;
    border-radius: 0px 0px 4px 4px;
    padding-left: 15px;
    padding-right: 5px;
    text-align: center;
    font-size: 20px;
}
.change-bottom:hover  {
    background-color: rgb(0, 0, 0);
    transition: 1s;
}