
.video{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
 
}

.video-youtube{
    background-color: white;
    width: 80%;
    height: 400px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.219);
    padding-right: 20px;
    padding-left: 30px;
    margin-bottom: 30px;
    margin-left: 6%;
    margin-top: 30px;
     

}
.frame{
    width: 600px;
    height: 80%;
    float: left;
    margin-top: 30px;
    margin-right: 40px;

}
.imagem-icone-1 .icone{
    width: 80px;
    height: 80px;
    margin-top: 15px;
}
.imagem-icone-1 .icone:hover{
    background-color: gold;
    border-radius: 10px;
}
.video-youtube:hover{
   
    border: 2px solid #FFD700;
}





