body{
    background-color: 		#f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.5;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
  
}
.header{
    background-color: 	#111111;
    margin: auto;
    min-height: 70px;
    max-height: 75px;
    border-bottom: #FFD700 1px solid;
 

}
.header .title-header h1{
   
    color: white;
    float: left;
 

}

.header a{
    text-decoration: none;
    color: 	white;
    font-size: 18px;
    
}
.header li{
    float: left;
    display: inline;
    margin-right: 30px;
 
}
.header .l2{
    float: right;
    display: inline;
   
    
}

.header li:hover{
   
    color: #FFD700;
    border-bottom: 2px solid #ffd700;
    
 
}
.nav{
    float: left;
    margin-top: 15px;
    margin-left: 100px;
}
.nav .current{
 color: #FFD700;
}
.nav-end{
    float: right;
    margin-top:15px;
}
.logo{
    float: left;
    max-width: 50px;
    max-height:50px ;
    margin-top: 5px;
    color:	#FFD700;
}


#lumi{
    color: #FFD700;
}
.footer {
    height: auto;
    
    background-color: #232323;
    border-top: #ffd700 3px solid;
    color: #f4f4f4;  
    overflow: hidden;
    
}
.container-footer-left{
    float: left;
    width: 39.3%;
    margin-left: 50px;
    margin-bottom: 50px;
}
.container-footer-right{
    float: right;
    width: 50%;
}

.footer_copyright{
    height: 50px;
    width:100%;
    background-color: #232323;
    border-top: #ffd700 1px solid;
    text-align: center;
    color: #f4f4f4;
}


.redes li{
    float: left;
    display: inline;
    padding-left: 10px ;
    padding-right: 10px;
    font-weight: bold;
  
}
.icons li{
    display: inline;
    float: left;
    margin-left: 20px;
}




/*   <div>Icons made by <a href="https://www.flaticon.com/authors/payungkead" title="Payungkead">Payungkead</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */