

.caixas{
    width: 100%;
    height: 340px;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;

}

.container-box-1{
    background-color: #ffffff;
    float: left;
    height: 320px;
    width: 220px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.219);
    margin-left: 83px;
    
}


.icones {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 30px;

 }


 .caixas-title h3{
     text-align: center;
     font-size: 20px;
     
 }


 .container-box-1:hover{
    border: 1px solid #FFD700;
   
}
.container-box-1 .texto{
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}




 
 
