#bannerluz {
    height: 40vh;
    background-image: url(../img/light-bulb-984551.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#bannerluz h2 {
    padding: 30px;
    font-size: 40px;
}

#bannerluz p {
    margin-top: 50px;
    font-size: 30px;
    font-weight: lighter;
}

#divtexto {
    margin-left: 25%;
    width: 50%;
    margin-top: 30px;
    color: white;
    text-align: center;
}

#divtexto h3 {
    font-size: 25px;
    margin-bottom: 50px;
}

#divtexto p {
    font-size: 18px;
}

#divtexto span {
    color: #deca5d;
    font-size: 25px;
}

#div_cards {
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 80%;
    height: 35vh;
    display: flex;
}

.card {
    background-color: #deca5d;
    text-align: center;
    width: 18%;
    height: 100%;
    margin: auto;
}

footer {
    position: relative;
}

.card_icon {
    margin-top: 30px;
    height: 25%;
}

.card p {
    font-size: 15px;
    padding: 10px;
}

#div_pontos {
    height: 80vh;
    margin-bottom: 100px;
    width: 75%;
    margin-left: 12.5%;
    /* background-color: crimson; */
}

.blocos_infos {
    margin-top: 20px;
    height: 35%;
}

.circle_icon {
    height: 220px;
    width: 220px;
    float: left;
    border-radius: 50%;
    background-color: #deca5d;
}

.icone_circulo {
    width: 80%;
    padding: 10%;
}

.bola {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
}

.descricao {
    float: left;
    width: 50%;
    margin-top: 50px;
    text-align: center;
    color: white;
}

.descricao h3 {
    font-size: 25px;
}

.descricao p {
    font-size: 18px;
}

.linha {
    position: absolute;
    height: 2px;
    width: 30%;
    background-color: #deca5d;
}

.linha1 {
    top: 152vh;
    left: 35%;
    transform: rotate(25deg);
}

.linha2 {
    top: 187vh;
    left: 35%;
    transform: rotate(-25deg);
}