@import url('https://fonts.googleapis.com/css2?family=Alata&family=Caveat:wght@400;700&family=Lobster&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
/* DEFAULT STYLE  */
:root {
  /* VARIAVEIS EM CSS */
  --color-black: #232323;
  --color-yellow: #deca5d;
  --color-yellow-t: #decb5dde;
  --color-light-gray: #f5f5f5;
  /*
        PARA UTILIZAR AS VARIAVEIS COLOQUE A PROPRIEDADE E
         COMO VALOR  USE O NOME DA VARIAVEL
         EX:
                h1{
                    color:  var(--corPreto);
                }
    */
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 18px;
  outline: 0;
}

.container {
  width: 80vw;
  margin: auto;
  color: var(--color-light-gray);
}
body {
  background-color: #414141de;
}
/* DEFAULT STYLE  */
/* BARRA DE NAVEGAÇÃO */
header,
footer {
  width: 100%;
  color: var(--color-light-gray);
  background-color: var(--color-black);
  padding: 10px 0px;
  box-shadow: 2px 2px 10px #00000090;
  height: 6.5vh;
}
footer {
  bottom: 0;
  position: absolute;
  text-align: center;
}

nav,
nav ul,
h1 {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav a {
  color: var(--color-light-gray);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
header .title-header img {
  width: 2vw;
  margin: 0px 10px;
  display: block;
}
.title-header {
  display: inline-flex;
  justify-content: center;
  align-content: center;
}
nav li {
  padding: 0px 20px;
}
.title-header h1,
.title-header span {
  font-family: 'alata';
  font-size: 30px;
  letter-spacing: 1.7pt;
  margin-top: 1.5%;
}
.highlight {
  color: var(--color-yellow);
}
.title-header span {
  padding: 0;
  margin: 0;
  color: var(--color-light-gray);
}
.current,
nav li a:hover {
  color: var(--color-yellow);
  font-size: 16px;
  border-bottom: var(--color-yellow) 1px solid;
}

.middle {
  display: flex;
  align-items: center;
}
.margin-30-y {
  margin: 30px auto;
}

.social {
  margin: 5px;
}

.social-link {
  text-decoration: none;
  color: var(--color-yellow);
  margin: 2pt;
}
.social-link:hover {
  color: var(--color-light-gray);
}

/*  CLASSE PARA DAR TAMANHO AO MAIN -
    QUANDO O CONTEÚDO NÃO FOR O SUFICIENTE
*/
.t-height {
  height: 100vh;
}

.mobile-menu {
  display: none;
}

/* CADASTRO */
fieldset,
.login {
  border: 0;
  width: 30%;
  background: #232323ea;
  margin: 20px auto;
  padding: 30px 20px;
  height: 65vh;
}

form {
  display: flex;
  text-align: center;
}

.input,
.links {
  background: transparent;
  border: 0;
  width: 100%;
  height: 10%;  
  color: var(--color-yellow);
  margin:5px auto;
}
.links{  
  display: flex;
  flex-direction: column;
}
label[for="em"],
label[for="se"] {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px var(--color-yellow)solid;
  color: var(--color-yellow);
  margin: 30px auto;
}
.b-line-bottom{
  border-bottom: 1px var(--color-yellow)solid;
}
label[for="em"] i,
label[for="se"] i {
  margin: 0 10px 0 5px; /*top rigth bottom left*/
}

.btn {
  border: 0;
  background: var(--color-yellow);
  padding: 10px;
  width: 100%;
  margin: 30px auto;
  cursor: pointer;
}
.banner-f{
  background-image: url("../img/banner-login-cadastro.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.titulo_form {
  color: var(--color-yellow);
  font-size: 20px;
  margin: 25px auto;
  text-align: center;
}
.link_form {
  width: 100%;
  margin: 20px 10px;
  text-decoration: none;
  color: var(--color-light-gray);
}
.links {
  border: 0;
}
form .icon-title {
  color: var(--color-light-gray);
  font-size: 22px;
}
.bubble-ico {
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding: 5pt;
  margin: 0 10px 0 0;
  border-radius: 100%;
  background-color: var(--color-yellow-t);
}
input[type="date"]
{  width: 100%;
  -moz-appearance: none;
  appearance: none;
  color: #636464;
}

input[type="date"]:focus{  
  color: var(--color-yellow-t);
}

/* CSS do protótipo da tela Pacotes */
  /* Colocarei comentado apra não interferir no CSS das outras páginas */
  /* #conteudo {
    display: block;
    width: 100%;
  }
  #packages {
    display: inline-block;
    width: 280px;
    height: 400px;
    background: var(--color-beige);
    color: var(--color-black);
    margin: 20px;
    padding: 5px;
  }

  #packages span{
    font-size: 0.9em;
    color: var(--color-black);
    display: block;
    margin: 15px 0;
  }
  #title-package {
    position: relative;
    text-align: center;
    width: 100%;
    
  }
  #title-package h1 {
      font-size: 1.5em;
      color: var(--color-yellow);
      display: inline;
  }
  #agendamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #agendamento input {
    display: block;
    width: 450px;
    height: 30px;
    background-color: var(--color-black);
    margin: 5px;
    border: none;
    color: var(--color-light-gray);
    padding: 5px 20px;
  }
  #agendamento input#agendar {
    display: block;
    width: 200px;
    height: 30px;
    background-color: var(--color-black);
    margin: 5px;
    border: none;
    color: var(--color-light-gray);
    padding: 5px 5px 30px 5px;
  }
  #agendamento input#agendar:hover {
    background-color: rgba(35, 35, 35, 0.808);
  } */
