@import url('https://fonts.googleapis.com/css2?family=Alata&family=Caveat:wght@400;700&family=Lobster&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
/* DEFAULT STYLE  */
:root {
  /* VARIAVEIS EM CSS */
  --color-black: #232323;
  --color-yellow: #deca5d;
  --color-yellow-t: #decb5dde;
  --color-light-gray: #f5f5f5;
  --color-beige: #f5f5dc;
  /*
        PARA UTILIZAR AS VARIAVEIS COLOQUE A PROPRIEDADE E
         COMO VALOR  USE O NOME DA VARIAVEL
         EX:
                h1{
                    color:  var(--corPreto);
                }
    */
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 18px;
  outline: 0;
}

.container {
  width: 80vw;
  margin: auto;
  color: var(--color-light-gray);
}
body {
  background-color: #414141de;
}
/* DEFAULT STYLE  */
/* BARRA DE NAVEGAÇÃO */
header,
footer {
  width: 100%;
  color: var(--color-light-gray);
  background-color: var(--color-black);
  padding: 10px 0px;
  box-shadow: 2px 2px 10px #00000090;
  height: 6.5vh;
}
footer {
  bottom: 0;
  position: absolute;
  text-align: center;
}

nav,
nav ul,
h1 {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav a {
  color: var(--color-light-gray);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
header .title-header img {
  width: 2vw;
  margin: 0px 10px;
  display: block;
}
.title-header {
  display: inline-flex;
  justify-content: center;
  align-content: center;
}
nav li {
  padding: 0px 20px;
}
.title-header h1,
.title-header span {
  font-family: 'alata';
  font-size: 30px;
  letter-spacing: 1.7pt;
  margin-top: 1.5%;
}
.highlight {
  color: var(--color-yellow);
}
.title-header span {
  padding: 0;
  margin: 0;
  color: var(--color-light-gray);
}
.current,
nav li a:hover {
  color: var(--color-yellow);
  font-size: 16px;
  border-bottom: var(--color-yellow) 1px solid;
}

.middle {
  display: flex;
  align-items: center;
}
.margin-30-y {
  margin: 30px auto;
}

.social {
  margin: 5px;
}

.social-link {
  text-decoration: none;
  color: var(--color-yellow);
  margin: 2pt;
}
.social-link:hover {
  color: var(--color-light-gray);
}

/*  CLASSE PARA DAR TAMANHO AO MAIN -
    QUANDO O CONTEÚDO NÃO FOR O SUFICIENTE
*/
.t-height {
  height: 100vh;
}

.mobile-menu {
  display: none;
}

/* CADASTRO */
fieldset,
.login {
  border: 0;
  width: 30%;
  background: #232323ea;
  margin: 20px auto;
  padding: 30px 20px;
  height: 65vh;
}

form {
  display: flex;
  text-align: center;
}

.input,
.links {
  background: transparent;
  border: 0;
  width: 100%;
  height: 10%;  
  color: var(--color-yellow);
  margin:5px auto;
}
.links{  
  display: flex;
  flex-direction: column;
}
label[for="em"],
label[for="se"] {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px var(--color-yellow)solid;
  color: var(--color-yellow);
  margin: 30px auto;
}
.b-line-bottom{
  border-bottom: 1px var(--color-yellow)solid;
}
label[for="em"] i,
label[for="se"] i {
  margin: 0 10px 0 5px; /*top rigth bottom left*/
}

.btn {
  border: 0;
  background: var(--color-yellow);
  padding: 10px;
  width: 100%;
  margin: 30px auto;
  cursor: pointer;
}
.banner-f{
  background-image: url("../img/banner-login-cadastro.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.titulo_form {
  color: var(--color-yellow);
  font-size: 20px;
  margin: 25px auto;
  text-align: center;
}
.link_form {
  width: 100%;
  margin: 20px 10px;
  text-decoration: none;
  color: var(--color-light-gray);
}
.links {
  border: 0;
}
form .icon-title {
  color: var(--color-light-gray);
  font-size: 22px;
}
.bubble-ico {
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding: 5pt;
  margin: 0 10px 0 0;
  border-radius: 100%;
  background-color: var(--color-yellow-t);
}
input[type="date"]
{  width: 100%;
  -moz-appearance: none;
  appearance: none;
  color: #636464;
}

input[type="date"]:focus{  
  color: var(--color-yellow-t);
}

/* CSS do protótipo da tela Pacotes */
  /* Colocarei comentado apra não interferir no CSS das outras páginas */
  #conteudo {
    display: block;
    width: 100%;
  }
  #packages {
    display: inline-block;
    width: 280px;
    height: 400px;
    background: var(--color-beige);
    color: var(--color-black);
    margin: 20px;
    padding: 5px;
  }

  #packages span{
    font-size: 0.9em;
    color: var(--color-black);
    display: block;
    margin: 15px 0;
  }
  #title-package {
    position: relative;
    text-align: center;
    width: 100%;
    
  }
  #title-package h1 {
      font-size: 1.5em;
      color: var(--color-yellow);
      display: inline;
  }
  #agendamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #agendamento input {
    display: block;
    width: 450px;
    height: 30px;
    background-color: var(--color-black);
    margin: 5px;
    border: none;
    color: var(--color-light-gray);
    padding: 5px 20px;
  }
  #agendamento input#agendar {
    display: block;
    width: 200px;
    height: 30px;
    background-color: var(--color-black);
    margin: 5px;
    border: none;
    color: var(--color-light-gray);
    padding: 5px 5px 30px 5px;
  }
  #agendamento input#agendar:hover {
    background-color: rgba(35, 35, 35, 0.808);
  }

  /* Index */

  #bannerluz {
    height: 40vh;
    background-image: url(../img/light-bulb-984551.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#bannerluz h2 {
    padding: 30px;
    font-size: 40px;
}

#bannerluz p {
    margin-top: 50px;
    font-size: 30px;
    font-weight: lighter;
}

#divtexto {
    margin-left: 25%;
    width: 50%;
    margin-top: 30px;
    color: white;
    text-align: center;
}

#divtexto h3 {
    font-size: 25px;
    margin-bottom: 50px;
}

#divtexto p {
    font-size: 18px;
}

#divtexto span {
    color: #deca5d;
    font-size: 25px;
}

#div_cards {
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 80%;
    height: 35vh;
    display: flex;
}

.card {
    background-color: #deca5d;
    text-align: center;
    width: 18%;
    height: 100%;
    margin: auto;
}

#pg_home footer {
    position: relative;
}

.card_icon {
  margin-top: 30px;
  height: 25%;
}

.card p {
  font-size: 15px;
  padding: 10px;
}

#div_pontos {
  height: 80vh;
  margin-bottom: 100px;
  width: 75%;
  margin-left: 12.5%;
  /* background-color: crimson; */
}

.blocos_infos {
  margin-top: 20px;
  height: 35%;
}

.circle_icon {
  height: 220px;
  width: 220px;
  float: left;
  border-radius: 50%;
  background-color: #deca5d;
}

.icone_circulo {
  width: 80%;
  padding: 10%;
}

.bola {
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
}

.descricao {
  float: left;
  width: 50%;
  margin-top: 50px;
  text-align: center;
  color: white;
}

.descricao h3 {
  font-size: 25px;
}

.descricao p {
  font-size: 18px;
}

.linha {
  position: absolute;
  height: 2px;
  width: 30%;
  background-color: #deca5d;
}

.linha1 {
  top: 152vh;
  left: 35%;
  transform: rotate(25deg);
}

.linha2 {
  top: 187vh;
  left: 35%;
  transform: rotate(-25deg);
}

/* Simulador */

#pg_simulador {
  background-color: #f1f1f1;
}

.alt_tela{
  height: 70vh;
}

#box_simulador {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgba(35, 35, 35, 0.6);
  border-radius: 50px;
  text-align: center;
}

#pg_simulador header {
  margin-bottom: 50px;
}

#box_simulador h2 {
  color: black;
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: 2%;
  margin-top: 2%;
}

#box_simulador input, select {
  text-align: center;
  text-align-last: center;
  margin-bottom: 20px;
  height: 7%;
  width: 80%;
  border: none;
  border-radius: 5px;
  background-color: #c4c4c4;
  color: #565656;
}

#box_simulador select:hover {
  -webkit-appearance: none;
}

#box_simulador input:focus {
  border: solid #1b1a1a 1px;
}

#pg_simulador input::-webkit-outer-spin-button,
#pg_simulador input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#pg_simulador input[type=number] {
  -moz-appearance:textfield;
}

#esquerda {
  margin-left: 0px;
  width: 49.95%;
  height: 95%;
  float: left;
}

#box_simulador h3 {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 1%;
  color: #deca5d;
}

#pg_simulador button {
  width: 30%;
  height: 7%;
  background-color: #deca5d;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 1s;
  cursor: pointer;
}

#pg_simulador button:hover {
  background-color: black;
  color: #deca5d;
  border: solid #deca5d 1px;
}

#pg_simulador button:active {
  color: #968838;
  border: #968838;
}

#linha {
  width: 0.1%;
  height: 75%;
  background-color: black;
  float: left;
}

#direita {
  width: 49.95%;
  height: 95%;
  float: left;
}

#direita_img {
  margin-left: 8%;
  width: 33.95%;
  float: left;
  filter: contrast(0.5);
}

#direita #esquerda2 {
  margin-top: 5%;
  margin-left: 0px;
  width: 49.9%;
  height: 20%;
  float: left;
}

#direita #linha2 {
  margin-top: 3%;
  margin-bottom: 5%;
  width: 0.2%;
  height: 24%;
  background-color: black;
  float: left;
}

#direita #direita2 {
  margin-top: 5%;
  width: 49.9%;
  height: 20%;
  float: left;
}

#box_economia {
  width: 100%;
}