@import url('https://fonts.googleapis.com/css2?family=Alata&family=Caveat:wght@400;700&family=Lobster&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
/* DEFAULT STYLE  */
:root {
  /* VARIAVEIS EM CSS */
  --color-black: #232323;
  --color-yellow: #deca5d;
  --color-light-gray: #f5f5f5;
  /*
        PARA UTILIZAR AS VARIAVEIS COLOQUE A PROPRIEDADE E
         COMO VALOR  USE O NOME DA VARIAVEL
         EX:
                h1{
                    color:  var(--corPreto);
                }
    */
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 18px;
  outline: 0;
}

.container {
  width: 80vw;
  margin: auto;
  color: var( --color-light-gray);
}
body {
  background-color: #414141de;
}
/* DEFAULT STYLE  */
/* BARRA DE NAVEGAÇÃO */
header,
footer {
  width: 100%;
  color: var(--color-light-gray);
  background-color: var(--color-black);
  padding: 10px 0px;
  box-shadow: 2px 2px 10px #00000090;
  height: 6vh;
}
footer {
  bottom: 0;
  position: relative;
  text-align: center;
}

nav,
nav ul,
h1 {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav a {
  color: var(--color-light-gray);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
header .title-header img {
  width: 2vw;
  margin: 0px 10px;
  display: block;
}
.title-header {
  display: inline-flex;
  justify-content: center;
  align-content: center;
}
nav li {
  padding: 0px 20px;
}
.title-header h1, .title-header span {
  font-family: 'alata';
  font-size: 30px;
  letter-spacing: 1.7pt;
  margin-top: 1.5%;
}
.highlight {
  color: var(--color-yellow);
}
.title-header span{
  padding:0;
  margin: 0;
  color:var(--color-light-gray)
}
.current,
nav li a:hover {
  color: var(--color-yellow);
  font-size: 16px;
  border-bottom: var(--color-yellow) 1px solid;
}

.middle {
  display: flex;
  align-items: center;
}
.margin-30-y{
  margin:30px auto;
}

.social{
  margin:5px;
}

.social-link{
  text-decoration: none;
  color:var(--color-yellow);
  margin:2pt;
}
.social-link:hover{
  color: var(--color-light-gray);
}

/*  CLASSE PARA DAR TAMANHO AO MAIN -
    QUANDO O CONTEÚDO NÃO FOR O SUFICIENTE
*/
.t-height{
  height: 100vh;
}

.mobile-menu{
  display:none;
}