/* CONFIGURAÇÃO PADRÃO PARA TODAS AS PÁGINAS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}

main {
    height: 100%;
}

.container{ width: 1200px;margin: auto; }
/*HEADER E FOOTER PADRÃO DAS PÁGINAS*/

header, footer {
    padding: 20px 0px;
    width: 100%;
    background-image: linear-gradient(to top, #8b4b9b 0%, slateblue 100%);
    box-shadow: 0px 10px 40px rgba(5, 5, 5, 0.493);
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    height: 10px;
    width: 100%
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}

nav span {
    font-size: large;
    font-weight: lighter;
    width: 100px;
    display: flex;
    color: whitesmoke;
    align-items: center;
}

nav span img {
    width: 33%;
    height: auto;
    margin-right: 10px;
}

.menu {
    width: 50%;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu a {
    color: whitesmoke;
    text-decoration: none;
    /* border: 1px solid #fff;
    border-radius: 4px;   */
    padding: 1px 15px;
    cursor: pointer;
    height: 32px;
    transition: all 0.2s ease-in-out;
}

.menu a:hover, .active, .btn-banner:hover {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    box-shadow: 1px 1px #fff, 2px 2px #fff, 3px 3px #fff;
    transform: translateX(-3px);
}

footer p a {
    text-decoration: none;
    color: #e6bef0de;
}

/* BANNER DA PÁGINA DE SIMULADOR ECONÔMICO*/

.banner-simulador {
    background-image: linear-gradient( rgba(0, 0, 0, 0.383), rgba(0, 0, 0, 0.377)), url(../img/banner-simulador.jpg);
    background-position: center;
    background-repeat: repeat no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    color: white;
}

/* BANNER DA PÁGINA HOME*/

.banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.377)), url(../img/banner-home.jpg);
    background-position: center;
    background-repeat: repeat no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 80%;
    text-align: center;
}

/* FORMULÁRIO DA PÁGINA DE SIMULADOR*/

.frm-simulador {
    width: 30%;
    margin: 20px auto;
    padding: 10px;
    border: 1px slateblue solid;
    border-radius: 1.75pt;
    margin-bottom: 5%;
}

.frm-simulador fieldset {
    width: 100%;
    border: 0;
    border-bottom: 1px solid white;
}

.frm-simulador input, .frm-simulador select {
    width: 100%;
    border: 0;
    font-size: 14px;
    border-radius: 1.75pt;
    margin-bottom: 10px;
    margin-top: 3px;
    padding: 5px 0px 5px 5px
}

.frm-simulador button {
    background-image: linear-gradient(to top, #8b4b9b 0%, slateblue 100%);
    color: white;
    border: 0;
    padding: 10px;
    margin: 15px 3px;
    width: 100%;
    border-radius: 1.75pt;
    cursor: pointer;
}

.frm-simulador h4 {
    text-align: center;
    font-weight: 900;
    margin: 10px 0px;
}

.text-purple {
    color: rgba(184, 122, 224, 0.849);
    width: 100%
}

.text-result, .text-bold {
    font-weight: bold;
    width: 100%;
}

.subtext {
    font-weight: 100;
    font-size: small;
    margin: 10px 0px;
    color: ghostwhite;
}

label {
    padding: 0;
}

.divResult {
    width: 95%;
    border: tomato 1px solid;
    background-color: rgba(255, 99, 71, 0.212);
    padding: 3px;
    margin: 10px;
    display: flex;
    flex-flow: column;
}

/* PÁGINA HOME */
section{
    width: 100%;
    height: 100%;
    text-align: center;
}
.text-banner {
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5%;
}

.banner h1 {
    font-weight: lighter;width: 45%;
    margin: auto;
    font-size: 45px;
}

.banner p {
    width: 45%;
    font-size: 25px;
    margin: auto;
    font-weight: 100;
    margin-top: 25px;
    font-family: 'Inter', sans-serif;
}

.btn-banner {
    padding: 10px;
    text-decoration: none;
    border: 1px solid #fff;
    color: white;
    width: 20%;
    text-align: center;
    margin: auto;
    border-radius: 1.75pt;
    margin-top: 25px;
}

.title-section{
    width:100%;
    margin:auto;
    padding: 20px;
    font-size: 45px;
    background: linear-gradient(to top, #8b4b9b 0%, slateblue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-p{    
    width:100%;
    margin:auto;
    padding: 20px;
    color: #8b4b9b;
    line-height: 1.75;
}
hr {
    width:50%;
    height: 2pt;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    background: linear-gradient(to top, #8b4b9b 0%, slateblue 100%);
  }